<h2 class = "text-center">About</h2>

<p class="text-center">
    カフェを楽しむためのコミュニケーションサイト
</p>

<p class = "text-center">
    自分たちでよく行くカフェを登録したり
</p>

<p class = "text-center">
    カフェについて投稿したり
</p>

<p class = "text-center">
    他のユーザーとコミュニケーションをとるためのサイトになります。
</p>

<p class = "text-center">
    投稿するためには新規登録が必要です。
</p>
