<div class = "container">

<h4>カフェ名</h4>

<%= @cafe.cafe_name %>

<h4>住所</h4>

<%= @cafe.address %>


<%= link_to "削除", admin_cafe_path(@cafe.id), method: :delete, "data-confirm" => "削除しますか？" %>


</div>